<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
<title>关于大头</title>
<link href="{$config['view']}static/css/ionic.min.css" rel="stylesheet" type="text/css" />
<link href="{$config['view']}static/css/style.css"rel="stylesheet" type="text/css" />
<link href="{$config['view']}static/css/bootstrap.min.css"rel="stylesheet" type="text/css" />
<script type="text/javascript" charset="utf-8" src="{$config['view']}static/js/jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="{$config['view']}static/js/bootstrap.min.js"></script>
<link href="tool/dailog/dailog.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="tool/dailog/dailog.js"></script>
<style>
img{
width:100%;
}
</style>
</head>
<body>
<div class="list" style="padding-top:0px;">
	<!--content start-->
	<div class="menu_four">
		<div class="item tabs tabs-secondary" style="margin:-1px 0 -1px 0;">
			<a class="tab-item dark-gray <if condition="$cate_id eq 9"> active
				</if>
				" href="{:U('cms_lists')}&cate_id=9&img_type=1" style="border-right:none !important;">
				在各国 </a>
			<a class="tab-item dark-gray <if condition="$cate_id eq 10"> active
				</if>
				" href="{:U('cms_lists')}&cate_id=10&img_type=1" style="border-right:none !important;">
				在展会 </a>
			<a class="tab-item dark-gray <if condition="$cate_id eq 11"> active
				</if>
				" href="{:U('cms_lists')}&cate_id=11&img_type=1" style="border-right:none !important;">
				在身边 </a>
			<a class="tab-item dark-gray <if condition="$cate_id eq 12"> active
				</if>
				" href="{:U('cms_lists')}&cate_id=12" style="border-right:none !important;">
				在网上 </a>
		</div>
	</div>
	<!--menu end-->
	<volist name="Cms_lists[content]" id="vo">
		<php> $tmp_i=$i-1; </php>
		<if condition="($i eq 1) or ($tmp_i%4 eq 0)">
		<div class="row margin-top-10">
			</if>
			 <div id="myModal_{$vo.cms_id}" style="display:none">
			 
			 
			 </div>
			<div class="col col-25" data-toggle="modal" data-target="#myModal" onclick='test(content_{$vo.cms_id},"{$vo.img_orogin}")'>
				<img src="{$vo.img_thumb}" width="100%">
			</div>
			<if condition="($i%4 eq 0) and ($i neq 1) ">
		</div>
		</if>
	</volist>
	<!--content end-->
</div>
<!-- Modal -->
<div  class="modal fade bg-transparent" style="width:100%" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document" style="width:100%;position: absolute;top: 10%;">
		<div class="modal-content">
			<div class="modal-header" style="border-bottom:none;">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body" style="padding:15px 0 0 0;">
				<div class="list card margin-0" style='width:100%;'>
					<div class=" item-image">
						<img id="img1" src="" style='width:100%;'>
					</div>
					<div class="item item-avatar">
						<img id="img2" src="" style='width:100%;'>
						<p id="text" style="width:90%" ></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
<script>
$(function(){

	var text='<div onclick="show_tips_close()" class="text-right padding-right x_colse"><i class="ion-android-close font-size-22"></i></div>'
	+'<div id="swp1" style="width:100%; position: relative;">'
    +'<div class="swiper-diaocha swiper-container" style="height:auto !important;">'
      +'<div class="swiper-wrapper"><volist name="banner" id="vo">'
         +'<div class="swiper-slide "><a href="{$vo[ad_link]}" style="display:block;"><img src="{$vo[ad_img]}" width="100%" height="100%" ></div></volist>'
       
      +'</div></div><div class="pagination"></div></div>';
	$("#liwu").click(function(){
		show_tips(text);
		h=$("window").height();
        w=$("window").width();
        $(".swiper-container").height(h);
        var mySwiper = new Swiper('.swiper-diaocha',{
  			 pagination: '.pagination',
			mode: 'horizontal',
			roundLengths:true,
			visiblilityFullfit:true,
			preventLinks:false,
			paginationClickable: true,
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: 2000,
        autoplayDisableOnInteraction: false, 
			initialSlide:0,
			slidesPerView:1,
		 	calculateHeight:true,
			DOManimation:true,
			onTouchEnd:function(){				 
			}
			
  })
});
});


  
  w=$("#swp2").width();
  h=w*(124/345)
  $("#swp2").height(h);
  $(".swiper-container2").height(h);
  var mySwiper = new Swiper('.swiper-diaocha2',{
  			 pagination: '.pagination2',
			mode: 'horizontal',
			roundLengths:true,
			visiblilityFullfit:true,
			preventLinks:false,
			autoplay:5000,
	 
			initialSlide:0,
			slidesPerView:1,
		 	calculateHeight:true,
			DOManimation:true,
			onTouchEnd:function(){
				 
			}
  })
</script>
</html>
