<include file="Public/includeHeader" />

﻿<div class="row">
  <div class="col-lg-12">
    <h3 class="page-header">统计列表</h3>
    
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h2><i class="fa fa-table red"></i><span class="break"></span><strong>列表</strong></h2>
     
  </div>

  <div class="form-group" style="margin-top: 20px">
        <a class="btn btn-primary" href="userweb.php?c=activity&a=excel_person&id={$_REQUEST[id]}" target="_blank">
      导出统计表
    </a>  
  </div>

  <div class="panel-body">
    <table class="table table-bordered table-striped table-condensed table-hover">  
      <thead>
        <tr>
          <!-- <th>编号</th> -->
          <th>区域</th>
          <th>参与人数</th>
          <th>报名人数</th>
          <th>报名率</th>
          <th>出席人数</th>
          <th>出席率</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        
          <?php foreach($data as $vo): ?>
          <?php if(!empty($vo['all'])):?>
            <!-- 第一层 -->
            <tr id="{$vo.id}" onclick="show_table({$vo.id},'a')" data-ss='1'>
              <td>{$vo[name]}<img src="{$config['Public']}static/images/xiasanjiao.png"></td><td>{$vo[all]}</td><td>{$vo[apply]|default=0}</td><td>{$vo[apply]/$vo[all]*100|round=2}%</td><td>{$vo[sign]|default=0}</td><td>{$vo[sign]/$vo[all]*100|round=2}%</td>
              <td><a href="userweb.php?c=activity&a=apply_person&id={$activityId}&partment={$vo[id]}">查看人员信息</a></td>
            </tr>

            <?php if($vo['list'] != null):?>
            <?php foreach($vo['list'] as $v1): ?>
              <?php if(!empty($v1['all'])):?>
              <!-- 第二层 -->
          
              <tr id="{$v1.id}" class="p_{$vo[id]} a" onclick="show_table({$v1.id},'b')" style="display: none" data-ss="1">
                <td>&nbsp;&nbsp;{$v1[name]}<img src="{$config['Public']}static/images/xiasanjiao.png"></td><td>{$v1[all]}</td><td>{$v1[apply]|default=0}</td><td>{$v1[apply]/$v1[all]*100|round=2}%</td><td>{$v1[sign]|default=0}</td><td>{$v1[sign]/$v1[all]*100|round=2}%</td>
                <td><a href="userweb.php?c=activity&a=apply_person&id={$activityId}&partment={$v1[id]}">查看人员信息</a></td>
              </tr>

                <?php if($v1['list'] != null):?>
                  <?php foreach($v1['list'] as $v2): ?>
                      <?php if(!empty($v2['all'])):?>
                          <!-- 第三层 -->
                       
                          <tr id="{$v2.id}" class="p_{$vo[id]} p_{$v1[id]} b" onclick="show_table({$v2.id},'c')" style="display: none" data-ss="1">
                            <td>&nbsp;&nbsp;&nbsp;{$v2[name]}</td><td>{$v2[all]}</td><td>{$v2[apply]|default=0}</td><td>{$v2[apply]/$v2[all]*100|round=2}%</td><td>{$v2[sign]|default=0}</td><td>{$v2[sign]/$v2[all]*100|round=2}%</td>
                            <td><a href="userweb.php?c=activity&a=apply_person&id={$activityId}&partment={$v2[id]}">查看人员信息</a></td>
                          </tr>

                          <?php if($v2['list'] != null):?>
                            <?php foreach($v2['list'] as $v3): ?>
                                <?php if(!empty($v3['all'])):?>
                                  <!-- 第四层 -->

                                  <tr id="{$v3.id}" class="p_{$vo[id]} p_{$v1[id]} p_{$v2[id]} c" style="display: none" data-ss="1">
                                    <td>&nbsp;&nbsp;&nbsp;&nbsp;{$v3[name]}</td><td>{$v3[all]}</td><td>{$v3[apply]|default=0}</td><td>{$v3[apply]/$v3[all]*100|round=2}%</td><td>{$v3[sign]|default=0}</td><td>{$v3[sign]/$v3[all]*100|round=2}%</td>
                                    <td><a href="userweb.php?c=activity&a=apply_person&id={$activityId}&partment={$v3[id]}">查看人员信息</a></td>
                                  </tr>

                                <?php endif; ?>
                            <?php endforeach; ?>
                          <?php endif; ?>
                       
                      <?php endif; ?>
                  <?php endforeach; ?>

                <?php endif; ?>
          
              <?php endif; ?>
            <?php endforeach; ?>
            <?php endif; ?>

          <?php endif; ?>

          <?php endforeach; ?>
      </tbody>
    </table>
   <!--  <a href="javascript:history.go(-1);location.reload()">返回</a>  -->
   <a class="btn btn-success" href="userweb.php?c=Activity&a=apply_count&menu_app=Activity">返回</a>
  </div>
</div>

<include file="Public/pagination" />
<include file="Public/includeFooter" />

<script type="text/javascript">
function show_table(id,clas){
   console.log(id+' '+clas);
  var is_show=document.getElementById(id);
  var data_ss=is_show.dataset.ss;
  if(data_ss==1){
       $("."+clas).hide();
       $(".p_"+id).show();

       if(clas == 'a'){
          $(".b").hide();
          $(".c").hide();
       }

       if(clas == 'b'){
          $(".c").hide();
       }

      //alert(".p_"+id)
      is_show.dataset.ss=2;
       
  }else{

      $(".p_"+id).hide();
      is_show.dataset.ss=1;
  }
  



 /* if(is_show == 'none'){
    $(".p_"+id).show();
  }else{
    $(".p_"+id).hide();
  }*/
  
}
</script>