<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>{$data[detail][title]}</title>
    <link href="{$config['static']}css/ionic.min.css" rel="stylesheet" type="text/css" />
    <link href="{$config['static']}css/style.css"rel="stylesheet" type="text/css" />
    <link href="{$config['tool']}swipe/swiper.min.css" rel="stylesheet" type="text/css" />
    <link href="{$config['static']}css/iconfont.css"rel="stylesheet" type="text/css" />
    <script type="text/javascript" charset="utf-8" src="{$config['static']}js/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="{$config['tool']}swipe/swiper.min.js"></script>
</head>
  <body class="bg_f0">
	<div class="list" style="padding-top:0px;overflow:hidden;">
  	 <img src="{$data[detail][image_thumb]}" width="100%">
<div class="padding-h-10">
 <h4>活动日期</h4>
</div>
 <div class="padding light-bg">
 <div class="row no-padding ">
 	<div class="col no-padding col-50 hong">
 		开始：{$data[detail][time_start]|date="Y-m-d",###}
 	</div>
 	<div class="col no-padding col-50 hong">
 		截至：{$data[detail][time_end]|date="Y-m-d",###}
 	</div>
 </div>
 </div>
 <div class="padding-h-10">
 <h4>活动内容介绍</h4>
  	{$data[detail][content]}
     <!--content end-->
    </div>

<div class="padding-h-10" style="text-align: center;">
	<button onclick="detail({$data[detail][id]})">填写信息</button>
</div>

    
  <div id="tijiao" class="tijiao">
 <p class="padding text-center" id="msg">非本次申购名单会员请联系在线客服进行咨询</p>
 
<div class="text-center margin-top-20">
	 <a href="javascript:void(1)" onclick="document.getElementById('tijiao').style.display='none';document.getElementById('fade').style.display='none'">
   <button class="button qianfen border-e5 jiesuan light border-none" style="padding:0px 24px !important;">
      	确认
      </button>
   </a>
   <button type="submit" value="提交" />
   </div>
  </div>
<div id="fade" class="black_overlay"></div>   
</body>

</html>

<script type="text/javascript">
function detail(id){
  location.href="collect.php?c=index&a=add&id="+id;
}

function showmsg(msg){
  $("#msg").html(msg);
  document.getElementById('tijiao').style.display='block'; 
  document.getElementById('fade').style.display='block'
}
</script>