<include file="Public/includeHeader" />

﻿<div class="row">
	<div class="col-lg-12">
		<h3 class="page-header">创建投票活动</h3>
		
	</div>
</div>

<div class="panel panel-default">
	<form action="userweb.php?c=vote&a=add_action"  enctype="multipart/form-data"  method="post" name="myform">
		<input type="text" style="display:none;" name="post[id]"  class="form-control" value="{$data[detail]['id']}">
		<div class="panel-body">

			<div class="form-group">
				<label for="text-input" class="col-md-2 control-label">部门:</label>
				<div class="col-md-4 input-group ">
					<select name="post[partment]" id="partment" class="form-control">
						<volist name="partment_list" id="list">
							<option value="{$list[id]}" <if condition="$list.id eq $data[detail]['partment']">selected</if>>{$list[title]}</option>
						</volist>
					</select>

				</div>
			</div>

			<div class="form-group">
				<label for="text-input" class="col-md-2 control-label">活动类型:</label>
				<div class="col-md-4 input-group ">
					<select size="1" class="form-control  " name="post[type]" onchange="type_change(this)" id="type">
						<option value="">请选择</option>
						<option value="1" <if condition="$data['detail']['type'] eq 1">selected</if>>可报名投票活动</option>
						<option value="2" <if condition="$data['detail']['type'] eq 2">selected</if>>不可报名投票活动</option>
					</select>
				</div>
			</div>

			<div class="form-group" <if condition="$data['detail']['type'] eq 1"> style="display:block"<else/>style="display:none" </if>id="start_time_div">
				<label for="text-input" class="col-md-2 control-label">报名开始时间:</label>
				<div class="col-md-4 input-group ">
					<input type="text" name="post[start_time]" value="<if condition="$data[detail][start_time] neq ''">{$data[detail][start_time]|date="Y-m-d H:m:s",###}</if>" class="form-control" onClick="WdatePicker({dateFmt:'yyyy-MM-dd H:m:s'})">
				</div>
			</div>	

			<div class="form-group" <if condition="$data['detail']['type'] eq 1"> style="display:block"<else/>style="display:none" </if>id="end_time_div">
				<label for="text-input" class="col-md-2 control-label">报名截止时间:</label>
				<div class="col-md-4 input-group ">
					<input type="text" name="post[end_time]" value="<if condition="$data[detail][end_time] neq ''">{$data[detail][end_time]|date="Y-m-d H:m:s",###}</if>" class="form-control" onClick="WdatePicker({dateFmt:'yyyy-MM-dd H:m:s'})">
				</div>
			</div>	

			<div class="form-group">
				<label for="text-input" class="col-md-2 control-label">活动标题:</label>
				<div class="col-md-4 input-group ">
					<input id="act_title" type="text" name="post[title]"  class="form-control" value="{$data[detail]['title']}">
				</div>
			</div>

			<script src="tool/My97DatePicker/WdatePicker.js"></script>
					
			<div class="form-group">
				<label for="text-input" class="col-md-2 control-label">开始时间:</label>
				<div class="col-md-4 input-group ">
					<input id="time_start" type="text" name="post[time_start]" value="<if condition="$data[detail][time_start] neq ''">{$data[detail][time_start]|date="Y-m-d H:m:s",###}</if>" class="form-control" onClick="WdatePicker({dateFmt:'yyyy-MM-dd H:m:s'})">
				</div>
			</div>

			<div class="form-group">
				<label for="text-input" class="col-md-2 control-label">结束时间:</label>
				<div class="col-md-4 input-group ">
					<input id="time_end" type="text" name="post[time_end]" value="<if condition="$data[detail][time_end] neq ''">{$data[detail][time_end]|date="Y-m-d H:m:s",###}</if>" class="form-control" onClick="WdatePicker({dateFmt:'yyyy-MM-dd H:m:s'})">
				</div>
			</div>

			<script src="tool/ajaxupload/js/ajaxupload.js" type="text/javascript"></script>
			<script src="{$config["static"]}/public/js/ajaxupload_vote.js"></script>

			<div class="form-group">
				<label for="select" class="col-md-2 control-label">首页展示图:</label>
				<div class="col-md-9 input-group ">
					<a type="button" id="UploadImg_common_single" data-type="vote"><img id="image_thumb_common_single" src="{$data['detail']['image_thumb']}<if condition="$data['detail']['image_thumb'] eq ''">{$config['static']}/public/image/shangchuan.png</if>" width="100px" onerror="this.src='{$config['static']}/public/image//shangchuan.png'" width="100px" i >
					</a>
					<input type="hidden" name="post[image_thumb]" id="img_thumb_hidden_common_single" value="{$data[detail]['image_thumb']}">
					<input type="hidden" name="post[image_origin]" id="img_orogin_hidden_common_single" value="{$data[detail]['image_origin']}">
					<p class="help-block" id="text_common_single"></p>
					<if condition="$data['detail']['image_thumb'] neq ''">
						<p class="help-block">点击图片，更换新的图片</p>
					</if>
					 
				</div>
			</div>

			<div class="form-group">
				<label for="text-input" class="col-md-2 control-label">投票方式:</label>
				<div class="col-md-4 input-group  " >
					<select size="1" class="form-control  " name="post[vote_type]" onchange="vote_type_change(this)" id="vote_type">
						<option value="">请选择</option>
						<option value="1" <if condition="$data['detail']['vote_type'] eq 1">selected</if>>每个账号仅可投票一次</option>
						<option value="2" <if condition="$data['detail']['vote_type'] eq 2">selected</if>>每个账号每天多次</option>
					</select>
				</div>
			</div>

			<div class="form-group" <if condition="$data['detail']['vote_type'] eq 2"> style="display:block"<else/>style="display:none" </if>id="vote_count_div">
				<label for="text-input" class="col-md-2 control-label">每个账号每天投票的次数</label>
				<div class="col-md-4 input-group  " >
					<input type="text" placeholder="" class="form-control" name="post[vote_count]" value="{$data[detail][vote_count]}" id="vote_count">
				</div>
			</div>
			
			<div class="form-group">
				<label for="text-input" class="col-md-2 control-label">是否可重复投同一人</label>
				<div class="col-md-4 input-group  " >
					<!-- <input type="text" placeholder="" class="form-control" name="post[vote_count]" value="{$data[detail][vote_count]}" id="vote_count"> -->
					<input type="checkbox" name="post[is_repeat]" value="1" <if condition='$data[detail][is_repeat] eq 1'>checked="checked"</if>>是否可重复投同一人
				</div>
			</div>

			<div class="form-group">
				<label for="text-input" class="col-md-2 control-label">活动详情:</label>
				<div class="col-md-4 input-group ">
					<div style="display:block; float:left; width:800px;">
						<link rel="stylesheet" href="tool/kindeditor-4.1.10//themes/default/default.css" />
						<link rel="stylesheet" href="tool/kindeditor-4.1.10/plugins/code/prettify.css" />
						<script charset="utf-8" src="tool/kindeditor-4.1.10/kindeditor.js"></script>
						<script charset="utf-8" src="tool/kindeditor-4.1.10/lang/zh_CN.js"></script>
						<script charset="utf-8" src="tool/kindeditor-4.1.10/plugins/code/prettify.js"></script>
						<script>
			 
										KindEditor.ready(function(K) {
											var editor1 = K.create('textarea[id="editor_id"]', {
												cssPath : 'tool/kindeditor-4.1.10/plugins/code/prettify.css',
												uploadJson : 'tool/kindeditor-4.1.10/php/upload_json.php',
												fileManagerJson : 'tool/kindeditor-4.1.10/php/file_manager_json.php',
												allowFileManager : true,
											    filterMode : true,
											    afterBlur:function(){this.sync()},
												afterCreate : function() {
													//  var self = this;
													// K.ctrl(document, 13, function() {
													// 	self.sync();
													// 	// K('form[name=add_goods]')[0].submit();
													// });
													// K.ctrl(self.edit.doc, 13, function() {
													// 	self.sync();
													// 	K('form[name=add_goods]')[0].submit();
														 
													// });
												}
											});
											prettyPrint();
										});
	 
								</script>
						<textarea id="editor_id" name="post[content]" style="width:600px;height:400px;">{$data[detail][content]}</textarea>
					</div>
				</div>
			</div>


			<div class="form-group">
				<label for="text-input" class="col-md-2 control-label">活动奖品:</label>
				<div class="col-md-4 input-group ">
					<script>
			 
							KindEditor.ready(function(K) {
								var editor1 = K.create('textarea[id="editor_id1"]', {
									cssPath : 'tool/kindeditor-4.1.10/plugins/code/prettify.css',
									uploadJson : 'tool/kindeditor-4.1.10/php/upload_json.php',
									fileManagerJson : 'tool/kindeditor-4.1.10/php/file_manager_json.php',
									allowFileManager : true,
								    filterMode : true,
								    afterBlur:function(){this.sync()},
									afterCreate : function() {
										 var self = this;
										K.ctrl(document, 13, function() {
											self.sync();
											K('form[name=add_goods]')[0].submit();
										});
										K.ctrl(self.edit.doc, 13, function() {
											self.sync();
											K('form[name=add_goods]')[0].submit();
											 
										});
									}
								});
								prettyPrint();
							});

					</script>
					<textarea id="editor_id1" name="post[prize]" style="width:600px;height:400px;">{$data['detail']['prize']}</textarea>
				</div>
			</div>

			

<!-- 
			<div <if condition="$data['detail']['type'] eq 2"> style="display:block"<else/>style="display:none" </if>id="vote_option_div">
			<div class="form-group">
				<label for="text-input" class="col-md-2 control-label">新增投票成员信息:</label>
				<div class="col-md-4 input-group ">
					
			</div>
			<div>
				<table>
					<thead>
						<th></th><th></th><th></th><th></th><th>投票图片</th><th>详情</th>
					</thead>
					<tbody style="margin: 2px">
						<tr><td>1</td>
							<td><input type="text" placeholder=""  name="post[person][1]" value="{$person[1]}" id=""></td>
							<td><input type="text" placeholder=""  name="post[person][2]" value="{$person[2]}" id=""></td>
							<td><input type="text" placeholder=""  name="post[person][3]" value="{$person[3]}" id=""></td>
							<td><a type="button" id="person1" data-type="vote"><img id="person_img" src="{$person['image_thumb']}<if condition="$person['image_thumb'] eq ''">{$config['static']}/public/image/shangchuan.png</if>" width="50px" onerror="this.src='{$config['static']}/public/image//shangchuan.png'" width="50px" i >
								</a>
								<input type="hidden" name="post[image_thumb]" id="img_thumb_hidden_common_single" value="{$data[detail]['image_thumb']}">
							</td>
							<td>详情</td>
						</tr>
					</tbody>
				</table>
			</div>
			</div>
 -->

		</div>


		<div class="panel-footer">
			<button class="btn btn-sm btn-success" type="button" onclick="tijiao()"><i class="fa fa-dot-circle-o"></i> 保存</button>
			<button class="btn btn-sm btn-danger" type="reset"><i class="fa fa-ban"></i> 重置</button>
		</div>

	</form>

</div>

<script type="text/javascript">


function tijiao(){
	var type=$("#type").val();
	if(type==""){
		alert("请选择活动类型");
		return;
	}

	var title=$("#act_title").val();
	if(title==""){
		alert("请填写活动标题");
		return;
	}

	var vote_type=$("#vote_type").val();
	if(vote_type==""){
		alert("请选择投票方式");
		return;
	}

	var time_start=$("#time_start").val();
	if(time_start==""){
		alert("请选择开始时间");
		return;
	}

	var time_end=$("#time_end").val();
	if(time_end==""){
		alert("请选择结束时间");
		return;
	}


	myform.submit();
}


function vote_type_change(obj){
	tmp=$(obj).val()
	if(tmp==2){
		$("#vote_count").val(1);
		$("#vote_count_div").fadeIn()	 
	}else{
		$("#vote_count_div").fadeOut()	
	}
}

function type_change(obj){
	tmp=$(obj).val()
	if(tmp==1){
		$("#start_time_div").fadeIn();
		$("#end_time_div").fadeIn();
	}else{
		$("#start_time_div").fadeOut();
		$("#end_time_div").fadeOut();
		$("#vote_option_div").fadeIn();
	}
}
</script>

<include file="Public/includeFooter" />
