<div class="navbar" role="navigation" style="top:0px;">
	<div class="container-fluid">
		<ul class="nav navbar-nav navbar-actions navbar-left">
			<li class="visible-md visible-lg"><a href="#" id="main-menu-toggle"><i class="fa fa-th-large"></i></a>
			</li>
			<li class="visible-xs visible-sm"><a href="#" id="sidebar-menu"><i class="fa fa-navicon"></i></a>
			</li>
		</ul>
		<form class="navbar-form navbar-left" style="display:none">
			<button type="submit" class="fa fa-search"></button>
			<input type="text" class="form-control" placeholder="Search...">
			</a>
		</form>
		 
		<ul class="nav navbar-nav navbar-right">
 
 
 
			<li class="dropdown visible-md visible-lg" style="display:none">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="user-avatar"  alt="user-mail" style="display:none">{$_SESSION['userweb']['username']}</a>
				<ul class="dropdown-menu">
					<li class="dropdown-menu-header">
						<strong>账户</strong>
					</li>
					<!-- <li><a href="userweb.php?c=User&a=password"><i class="fa fa-user"></i> 密码修改</a>
					</li> -->
					 
					<li><a href="userweb.php?c=Login&a=logout"><i class="fa fa-sign-out"></i> Logout</a>
					</li>
				</ul>
			</li>
			<li><a href="userweb.php?c=Login&a=logout"><i class="fa fa-power-off"></i></a>
			</li>
		</ul>
	</div>
</div>