<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
<title>申购协议</title>
<link href="Application/Cms/View/static/css/ionic.min.css" rel="stylesheet" type="text/css" />
<link href="Application/Cms/View/static/css/style.css"rel="stylesheet" type="text/css" />
<link href="Application/Cms/View/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="Application/Cms/View/tool/swipe/swiper.min.css" rel="stylesheet" type="text/css" />
<link href="Application/Cms/View/static/css/mycss.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" charset="utf-8" src="Application/Cms/View/static/js/jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="Application/Cms/View/static/js/bootstrap.min.js"></script>
<script type="text/javascript" charset="utf-8" src="Application/Cms/View/tool/swipe/swiper.min.js"></script>


</head>
<body>
<style>
  .content_img img{
    width:100% !important; height:auto!important;
  }
</style>

<div class="list" style="padding-top:0px;margin-bottom: 50px;">
    <h2 class="dark-gray font-size-18" style="text-align: center;padding:10px; padding-bottom:0px;  line-height:150%; font-size:24px!important; font-weight:bold; border-bottom:#CCCCCC 1px solid;">{$data[title]}</h2>
    <div class="  item-body padding content_img">
        <p> {$data[content]} </p>
    </div>

</div>

</body>
</html>


