@charset "utf-8";
.tpl .tpl_lists .item{ position:relative; height:100px;}
.tpl .tpl_lists .item input{ width:100%; height:100%; position: absolute; border:#000000 1px solid; top:0px; left:0px;}

.mm-page{ margin-top:-40px;}

.table-striped tbody td{ padding:5px;   vertical-align:middle!important;}

.UploadImg{ display:block; width:100px; height:100px;}

.nav li.active_test {background: #d95043 none repeat scroll 0 0;  color:#fff!important;}
.nav li.active_test a{color:#fff!important;}
.nav.nav-sidebar > li{ border-bottom:#666 1px solid!important;}